.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 220px;
}
