/* Light Theme */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}
